
body {
    background-color: black;
    color: #ffffff;
}



/** ---- all icons white ---- **/

.material-icons {
    color: #ffffff;
}

/******************/
/***** NAVBAR *****/
/******************/

.navbar-custom a {
    color: #ffffff;
    font-size: 1.5em;
}

.navbar-custom a.active {
    color: #d63447;
}

.navbar-custom li a:hover {
    color: black;
    background-color: #ffffff;
}

#main-logo {
    font-size: 3.25em;
}

.navbar-toggler {
    border: none;
}

#list-icon {
    font-size: 2em;
}

/******************/
/***** HOME PAGE *****/
/******************/

/** ---- Backgroung img wrapper ---- **/

#wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/** ---- Main Section ---- **/

.jumbotron-fluid {
    background: none;
}

#bio-img span {
    font-size: 185px;
}

/******************/
/***** PORTFOLIO PAGE *****/
/******************/

.card-custom a {
    color: black;
}

.card-custom {
    min-width: 20rem;
}

.card-custom img {
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}


/******************/
/***** MEDIA QUERIES *****/
/******************/

/** ---- Decrease home page main section font ---- **/

@media only screen and (max-width: 440px) {
    .jumbotron-fluid h1 {
        font-size: 4em;
    }
  }

  @media only screen and (max-width:360px) {
    .jumbotron-fluid h1 {
        font-size: 3em;
    }
  }



 